.posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.post{
    display: flex;
    flex-direction: column;
    width: 400px;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    /* border: 1px solid salmon; */
    border-radius: 8px;
    margin: 10px;
    height: auto;
    
    /* border: 1px solid yellow; */
}