.breadcrumb {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    letter-spacing: 1px;
}

.breadcrumb span {
    margin-left: 5px;
    text-transform: capitalize;
    color: var(--color-principal);
    text-decoration: underline;
    font-weight: 600;
}